<mat-toolbar  class="title" color="warn">
  <mat-toolbar-row >
    <h1>Customers</h1>
  </mat-toolbar-row>
  <mat-divider></mat-divider>
</mat-toolbar>

<div class="customer-list">
  <mat-nav-list *ngFor="let customer of customers; trackBy:customerTrackerFunction">
    <a mat-list-item [routerLink]="[customer.id,customer]"
                     routerLinkActive="active"
                     [routerLinkActiveOptions]="{exact: true}">
       {{ customer.name }} </a>
  </mat-nav-list>
  <mat-divider></mat-divider>
</div>


<router-outlet></router-outlet>
